@page
@model TechnicalAssesmentOracle.Pages.MedicationUnits.IndexModel

@{
    ViewData["Title"] = "Technical Assesment Oracle";
    ViewData["Page"] = "Subjects";
}

<h1>@ViewData["Page"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicationUnit[0].MedicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationUnit[0].SiteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationUnit[0].DepotId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationUnit[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicationUnit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
